{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main" style="width: 30%;margin-left: 500px;overflow: hidden;padding-bottom: 50px;float: left;margin-bottom: 50px;margin-top: 20px;">
    <div style="padding-left: 100px;padding-top: 50px;">
      <img src="{% static 'myphoto.jpg' %}" alt="puneeth" style="width:200px;height: 250px;">
        <h2>puneeth kashyap</h2>
        <p class="title">ug-1</p>
        <p>S20180010139</p>
        <p>puneethyashasvi.a18@iiits.in</p>
        <br>
        <p><button class="button" style="margin-left: 70px;color: white;background-color: green;border: none;padding: 5px;">Contact</button></p>
        </div>
      </div>
{% endblock %}