{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<section id="nav">
			<aside class="innertube" style="color: white;background-color:green;">
				<h2 class="qwe" style="text-align:center;border-bottom:solid;border-width: 1px;">PART - A BASICS OF HACKING</h2>
				<h4 class="qwe" style="height: 30px; text-align:center;">INTRODUCTION TO HACKING</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">HACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TYPES OF HACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PHASES OF HACKING</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">INTRODUCTION TO PORTS & PROTOCOLS</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PORTS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PROTOCOLS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PRIMARY NETWORK TYPES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">IMPORTANT TERMS ASSOCIATED WITH NETWORK</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">#OTHER IMPORTANT PROTOCOLS</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">VIRTUALIZATION AND INTRODUCTION TO KALI LINUX</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">VIRTUALIZATION</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">VIRTUALIZATION SOFTWARE</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SUPPORTED PLATFORMS</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">FOOTPRINTING</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">FOOTPRINTING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TYPES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING PING IN WINDOWS COMMAND LINE</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING NSLOOKUP IN WINDOWS COMMAND LINE</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">SCANNING</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SCANNING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">BASICS OF SCANNING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">BASIC TECNIQUES OF SCANNING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">ENUMERATING DNS USING DNSENUM</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PERFORMING FLAG USING HPING3</a></li>
				</ul>
				<h2 class="qwe" style="text-align:center;border-bottom:solid;border-width: 1px   ">PART B - PERFORMING THE HACK</h2>
				<h4 class="qwe" style="text-align:center;">HACKING INTO SYSTEM</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SYSTEM HACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PASSWORD CRACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">DEFAULT PASSWORD DATABASE</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">MANUAL PASSWORD CRACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">AUTOMATED PASSWORD CRACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PROCESS OF SYSTEM HACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING REFOG KEYLOGGER</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">ROOTKITS</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">TROJANS AND BACKDOORS</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TROJANS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WORKING OF A TROJAN</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">INFECTION TECHNIQUES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">BEHAVIOUR OF TROJAN INFECTED TARGET</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WRAPPERS</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">VIRUSES AND WORMS</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">VIRUS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WORKING OF A VIRUS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">CHARECTERSTICS OF A VIRUS ATTACK</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">THREATS FROM A VIRUS ATTACK</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">LIFECYCLE OF A VIRUS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">CLASSIFICATION OF VIRUS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WORMS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">VIRUS CONSTRUCTION KIT</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING JPS(VIRUS MAKER 3.0)</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">SNIFFING,PACKET ANALYSIS & SESSION HIJACKING</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SNIFFING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PACKET ANALYSIS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TYPES OF SNIFFING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">ACTIVE SNIFFING TECHNIQUES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING MACOF</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING CAIN AND ABEL</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PASSIVE SNIFFING TECHNIQUES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SESSION HIGHJACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TYPES OF SESSION HIGHJACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEPS INVOLVED IN SESSION HIGHJACKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">METHODS OF SESSION HIGHJACKING</a></li>
				</ul>
					<h4 class="qwe" style="text-align:center;">SOCIAL ENGINEERING</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SOCIAL ENGINEERING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PROCESS OF SOCIAL ENGINEERING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">IDENTITY THEFT</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">HUMAN BASED SOCIAL ENGINEERING TECHNIQUES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">COMPUTER BASED SOCIAL ENGINEERING TECHNIQUES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PHISHING PROCESS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TYPES OF PHISING ATTACKS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SOCIAL ENGINEERING TOOTHKIT(SET)</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SITE CLONING USING SOCIAL ENGINEERING TOOLKIT</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">MASS MALINER USING SOCIAL ENGINEERING TOOLKIT</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PREVENTION OF SOCIAL ENGINEERING</a></li>
				</ul>
					<h4 class="qwe" style="text-align:center;">CRYPTOGRAPHY</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">CRYPTOGRAPHY</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">DIGITAL SIGNATURE</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">HASH FUNCTIONS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PRACTICAL</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING TRUECRYPT</a></li>
				</ul>
					<h4 class="qwe" style="text-align:center;">STEGANOGRAPHY</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEGANOGRAPHY</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEGANOGRAPHY PROCESS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TERMS ASSOCIATED WITH STEGANOGRAPHY</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WATERMARKING</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEGANOGRAPHY METHODS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEGANALYSIS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEGANALYSIS ATTACKS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEGANOGRAPHY USING TOOLS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING QUICKSTEGO</a></li>
				</ul>
					<h4 class="qwe" style="text-align:center;">VULNERABILITY ASSESSMENT</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">VULNERABILITY</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">THE OPEN WEB APPLICATION SECURITY PROJECT(OWASP)</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">OWASP TOP 10(2013)</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">PREVENTION</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">DAMN VULNERABLE WEB APPLICATION(DVWA)</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">INSTALLING DVWA ON LOCAL HOST</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TESTING WITH DVWA</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">OWASP ZAP</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING OWASP ZAP</a></li>
				</ul>
					<h4 class="qwe" style="text-align:center;">DEEP WEB & DARK NET</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">SURFACE WEB</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">DEEP WEB</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">DARK NET</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">BITCOIN</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">THE ONION ROUTER - TOR</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING TOR</a></li>
				</ul>

				<h2 class="qwe" style="text-align:center;border-bottom:solid;border-width: 1px   ">PART C - ADVANCE HACKING</h2>
				<h4 class="qwe" style="text-align:center;">DENIAL OF SERVICE</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">EFFECTS OF THE DENIAL OF SERVICE</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">STEPS FOR PERFORMING DDoS ATTACK</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">BOTNET</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">FIREWALL</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">HONEYPOT</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">USING CPU DEATH PING</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">WEB APPLICATION & WEB SERVER PENETRATION TESTING</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WEB APPLICATION</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WEB APPLICATION ATTACK PHASE</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WEB APPLICATION VULNERABILITIES</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WEB SERVER</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WEB APPLICATION TESTING USING TOOLS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WPSCAN</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">WIRELESS NETWORK EXPLOITATION</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WIRELESS NETWORK</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WIRELESS SECURITY STANDARD</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TERMS ASSOCIATED WITH WIRELESS TECHNOLOGY</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WIRELESS NETWORK ENCRYPTION</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">WIRLESS NETWORK SECURITY THREATS</a></li>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">EXPLOITING WIRELESS NETWORKS</a></li>
				</ul>
				<h4 class="qwe" style="text-align:center;">ADDITIONAL REFERENCES</h4>
				<ul>
					<li style="float: none;border-bottom:solid;border-width: 1px"><a href="#">TOP HACKING TOOLS</a></li>
				</ul>	
            </aside>
</section>
</div>

<div class="main">
    <h2>this is the place where i would give all the information</h2>
    <p>Some text..</p>
    <p>as you click the links from the navigation box to the left,the matter changes accordingly</p>
    <br>
  </div>	
{% endblock %}